BOT_TOKEN=
WEBHOOK_URL=

POSTGRES_DB=ai_assistant
POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_HOST=db
POSTGRES_PORT=5432

AI_API_URL=
AI_API_KEY=

APP_HOST=0.0.0.0
APP_PORT=8000
DEBUG=false

PGADMIN_EMAIL=
PGADMIN_PASSWORD=
